@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Tinos:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

/* 
    font-family: 'Barlow', sans-serif;  
    font-family: 'Tinos', serif;
    font-family: 'Zeyada', cursive;
*/

body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
}

/* 
    Start Navbar
*/
nav {
    border-bottom: 1px solid rgba(38, 56, 64, 0.5);

}

.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
    border-radius: 20rem;
}

.toggle.ios .toggle-handle {
    border-radius: 20rem;
}

.nav-item {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 1em;
}

/* 
    End Navbar
*/

#breadcumb {
    padding: 0 8px;
    background-color: #F4F4F9;
    border-bottom: 1px solid rgba(38, 56, 64, 0.5);
}

/* Start Visi Misi */
#visi_misi {
    background-color: #F8F8F8;
    padding: 0 8px;
    border-bottom: 1px solid rgba(38, 56, 64, 0.5);
}

.wrap_visi_misi {
    width: 100%;
    margin: 0 auto;
    border-left: 1px solid rgba(38, 56, 64, 0.5);
    border-right: 1px solid rgba(38, 56, 64, 0.5);
    padding: 50px 8px;
}

.misi_section {
    margin-top: 50px;
}

.visimisi-content {
    margin: 0px 100px;
}

.visimisi-title {
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #263840;
}

.visimisi-outline {
    font-family: 'Barlow', sans-serif;
    font-size: 32px;
    font-weight: bold;
    -webkit-text-stroke: 1px #263840;
    -webkit-text-fill-color: white;
    margin-top: 30px;
}

.visimisi-jabar {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #263840;
    padding-bottom: 0px;
    -webkit-text-stroke: 0px #263840;
    -webkit-text-fill-color: #263840;

}

.visimisi-arrow {
    width: 80px;
    height: 16px;
    margin: 0px 20px;
}

.visimisi-img {
    height: 400px;
}

.visimisi-detail {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: medium;
    color: #263840;
    margin-bottom: 10px;
    /* margin-left: 25px; */
    line-height: 16px;
}

.border_visi {
    position: absolute;
    background-color: #5996ec;
    padding: 0px;
    margin-bottom: 30px;
    width: 0px;
    left: 400px;
    top: 140px;
}

/* End Visi Misi */

/* Start sejarah imi style */
#sejarah {
    background-color: #FBFBFB;
    padding: 0 8px;
}

.wrap_sejarah_imi {
    margin: 0 auto;
    width: 100%;
    border-left: 1px solid rgba(38, 56, 64, 0.5);
    border-right: 1px solid rgba(38, 56, 64, 0.5);
    padding: 50px 8px;
}

.sejarah-title {
    font-family: 'Barlow', sans-serif;
    font-weight: bolder;
    font-size: 24px;
    font-style: italic;
    margin-top: 50px;
    margin-bottom: 16px;
}

.sejarah-text {
    font-family: 'Barlow', sans-serif;
    font-weight: medium;
    font-size: 1em;
    text-align: justify
}

.sejarah-text-bold {
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

.sejarah-img {
    width: 100%;
}

.sejarah-arrow {
    display: block;
    width: 28px;
    height: 28px;
    margin: 16px auto;
}

.sejarah-arrow2 {
    display: block;
    transform: rotate(90deg);
    width: 28px;
    height: 28px;
    margin: 16px auto;
}

.wrap_background_imi {
    margin: 0 auto;
    width: 100%;
    background-color: #fbfbfbfb;
    border-top: 1px solid rgba(38, 56, 64, 0.5);
    border-bottom: 1px solid rgba(38, 56, 64, 0.5);
}

.image_border_right {
    border-right: 1px solid rgba(38, 56, 64, 0.5);
    ;
}

.image_border_left {
    border-left: 1px solid rgba(38, 56, 64, 0.5);
}

.showmore_history {
    color: #263840;
    font-family: 'Barlow', sans-serif;
    font-weight: medium;
    font-size: 16px;
}

.showmore_history:hover {
    color: #263840;
    text-decoration: none;
}

.showmore_history:active {
    color: #263840;
    text-decoration: none;
}

/* End sejarah imi style */


/* 
    Start Style Struktur Pengurus
*/
.wrap_struktur_pengurus {
    width: 100%;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 32px;
}

.struktur-download-content {
    margin: 0 6% !important;
}

#strukturPengurus {
    border-bottom: 1px solid rgba(38, 56, 64, 0.5);
}

#strukturPengurus .head_strukturPengurus {
    padding: 0 6%;
}

#strukturPengurus .head_strukturPengurus h2 {
    font-weight: 700;
    font-size: 24px;
}

.border_heading_strukturPengurus {
    padding: 2px;
    width: 155px;
    background-color: #5996EC;
}

.link_selengkapnya_struktur_pengurus span {
    color: #0078C1;
    font-size: 20px;
    display: inline-block;
    transform: translate(0, 0);
    transition: all 0.5s ease-in-out;
}

.link_selengkapnya_struktur_pengurus:hover span {
    transform: translate(8px, 0);
}



.multi-item-carousel {
    margin: 0 4% !important;
}

.multi-item-carousel .carousel-item>img {
    object-fit: cover;
}

.multi-item-carousel .carousel-item:hover .text_profile_pengurus {
    opacity: 1;
    transform: translate(0, 0);
}

.multi-item-carousel .carousel-item:hover .overlay_struktur_pengurus {
    opacity: 1;
}

.overlay_struktur_pengurus {
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    opacity: 0;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    position: absolute;
    transition: all 0.5s ease-in-out;
}

.text_profile_pengurus {
    opacity: 0;
    width: 100%;
    transform: translate(0, 200px);
    transition: all 0.5s ease-in-out;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    bottom: 10%;
    left: 0;
    right: 0;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.multi-item-carousel .carousel-control-prev {
    width: 10.1%;
}

.multi-item-carousel .carousel-control-next {
    width: 10.1%;

}


.multi-item-carousel .carousel-control-prev-icon,
.multi-item-carousel .carousel-control-next-icon {
    outline: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
}

.struktur-download-content {
    padding-top: 50px;
    padding-bottom: 30px;
}

.struktur-download-title {
    font-family: 'Barlow', sans-serif;
    font-weight: medium;
    font-size: 16px;
}

/* 
    End Style Struktur Pengurus
*/

/* Start Style Anggaran */
.wrap_anggaran {
    width: 100%;
    margin: 0 auto;
}

.my_card {
    background-color: #fff;
    border: none;
}

.art_imi {
    border-bottom: 1px solid rgba(38, 56, 64, 0.5);
    padding: 16px 7% !important;
}

.ad_imi {
    padding: 16px 7% !important;
}

.card-title {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #000;
}

.card-title:hover,
.card-title:focus {
    color: #000;
    text-decoration: none !important;
}

/* End Style Anggaran */


/* 
    footer  
 */
footer {
    padding: 48px 0;
}

.content_footer {
    padding: 0 5%;
    height: 100%;
    z-index: 5;
}

.logo_footer {
    margin: 0 auto;
}

.footer_ttd p {
    font-family: 'Tinos', serif;
    font-size: 24px;
}

.footer_ttd .text_ttd_footer {
    font-family: 'Zeyada', cursive;
}

.line_border {
    width: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: 20px;
}

.background_footer {
    object-fit: cover;
    height: 100%;
    top: 0;
    width: 100%;
    z-index: -1;
}

.sitemap_footer {
    list-style-type: none;
    padding: 0;
}

.sitemap_footer li a {
    color: #000000;
    text-decoration: none;


}

/* end footer */


/* credit */
.credit {
    background-color: #F4F4F9;
    font-weight: 700;
    font-size: 12px;
}

@media screen and (min-width: 576px) {
    .line_border {
        width: 50%;
        right: 15px;
        left: unset;
        bottom: 20px;
        margin: unset;
    }
}

/* end credit */

@media screen and (min-width: 768px) {


    .sejarah-img {
        width: 100%;
    }

    /* 
        Start Struktur Pengurus style
    */
    .border_heading_strukturPengurus {
        width: 310px;
    }

    #strukturPengurus .head_strukturPengurus h2 {
        font-size: 48px;
    }

    .multi-item-carousel .carousel-inner .carousel-item {
        margin-right: inherit;
    }

    .multi-item-carousel .carousel-inner .carousel-item.active+.carousel-item,
    .multi-item-carousel .carousel-inner .carousel-item.active+.carousel-item+.carousel-item,
    .multi-item-carousel .carousel-inner .carousel-item.active+.carousel-item+.carousel-item+.carousel-item {
        display: block;
    }


    .multi-item-carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .multi-item-carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .multi-item-carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item,
    .multi-item-carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
        transition: none;
    }


    .multi-item-carousel .carousel-inner .carousel-item.active+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    .multi-item-carousel .carousel-inner .carousel-item-next,
    .multi-item-carousel .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }


    .multi-item-carousel .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }


    .multi-item-carousel .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .multi-item-carousel .carousel-item-next.carousel-item-left+.carousel-item,
    .multi-item-carousel .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .multi-item-carousel .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item,
    .multi-item-carousel .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    .multi-item-carousel .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .multi-item-carousel .carousel-item-prev.carousel-item-right+.carousel-item,
    .multi-item-carousel .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .multi-item-carousel .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item,
    .multi-item-carousel .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        display: block;
        visibility: visible;
    }

    .multi-item-carousel .carousel-control-prev {
        left: -5%;
    }

    .multi-item-carousel .carousel-control-next {
        right: -5%;
    }

    /* 
        End Struktur Pengurus style
    */

    .card-title {
        text-align: left;
        font-size: 26px;
    }

    /* start footer style */

    .content_footer {
        padding: 0 8%;
    }

    .logo_footer {
        margin: 0 0;
    }

    /* end footer style */

    /* start credit style */
    .credit {
        font-size: 16px;
    }

    /* end credit style */

}

@media screen and (min-width: 968px) {

    #breadcumb {
        padding: 0 5%;
    }

    #visi_misi {
        padding: 0 3.5%;
    }

    .wrap_visi_misi {
        padding: 50px 4%;
    }

    .visimisi-outline {
        font-size: 72px;
        -webkit-text-stroke: 2px #263840;
    }

    .visimisi-jabar {
        font-size: 32px;
        padding-bottom: 7px;
    }

    .border_visi {
        padding: 1px;
        width: 100%;
    }

    .visimisi-detail {
        margin-left: 60px;
        font-size: 20px;
        margin-top: 20px;
    }

    /* Start sejarah style */
    #sejarah {
        padding: 0 3.5%;
    }

    .wrap_sejarah_imi {
        padding: 50px 4%;

    }

    .sejarah-title {
        margin-top: 0;

        font-size: 48px;
        margin-bottom: 50px;
    }

    .sejarah-img {
        width: 100%;
    }

    .sejarah-text-bold {
        font-size: 24px;
    }

    .sejarah-arrow {
        width: 38px;
        height: 38px;
        margin: 50px 0px;
    }

    .sejarah-arrow2 {
        width: 38px;
        height: 38px;
        margin: 50px 0px;
        transform: rotate(0deg);

    }

    .showmore-text {
        font-size: 24px;
    }

    .showmore-icon {
        width: 16px;
        height: 16px;
        margin-left: 20px;
    }

    /* End Sejarah */
    .wrap_struktur_pengurus {
        padding-top: 100px;
        padding-bottom: 100px;
    }



}

@media screen and (min-width: 2300px) {
    .wrap_background_imi {
        max-width: 2300px;
    }

    .wrap_visi_misi {
        max-width: 2300px;
    }

    .wrap_sejarah_imi {
        max-width: 2300px;
    }

    .wrap_struktur_pengurus {
        max-width: 2300px;
    }

    .wrap_anggaran {
        max-width: 2300px;
    }
}