@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Tinos:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
/* 
    font-family: 'Barlow', sans-serif;  
    font-family: 'Tinos', serif;
    font-family: 'Zeyada', cursive;
*/

body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
}

#loader {
    display: block;
    margin: 42px auto;
}

/* Head List committee */
#header_page_committee {
    margin: 0 auto;
    background-color: #F8F8F8;
    padding: 40px 0;
}

.head_list_committee {
    padding: 0px 10px;
    margin: 0 1rem;
    text-align: center;
}

.head_list_committee h1 {
    margin: 0;
    line-height: 38px;
    font-family: 'Tinos', serif;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
    text-decoration-color: hsl(215, 79%, 64%);
}


.head_list_committee p {
    text-align: center;
    margin: 1rem 0 0 0;
    font-weight: 500;
    font-size: 1em;
}

/* Main content page committee */
.wrap_content_page_commiittee {
    padding: 0 1rem;
    overflow: scroll;
    max-width: 1165px;
    margin: 50px auto;
    max-height: 840px;
}

.wrap_commite_image img {
    max-width: 375px;
    max-height: 300px;
    border-radius: 10px;
}

.wrap_button_show_more_committee {
    padding: 50px;
    width: 100%;
    background: linear-gradient(180deg, rgba(248, 248, 248, 0.6) -1.44%, #F8F8F8 43.15%);
    transform: translate(0, -180px);
}

.btn_load_more_list_berita {
    background-color: transparent;
    border: 1px solid #263840;
    padding: 8px 24px;
    transition: transform 0.5s ease-in-out;
    border-radius: 5px;
    font-weight: 500;
}

.btn_load_more_list_berita:active,
.btn_load_more_list_berita:hover,
.btn_load_more_list_berita:focus {
    background-color: #FFCE51;
    border: none;
    outline: none;
    transform: translate(0, -10px);
}


.download_structure_committee {
    padding: 0 1rem;
    font-weight: 500;
    max-width: 1165px;
    margin: 0 auto;
}

.download_structure_committee a::before {
    content: url('../img/pdf-icon.png');
    vertical-align: middle;
    margin-right: 8px;
}

.download_structure_committee a {
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #263840;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

.download_structure_committee a:hover {
    background-color: #263840;
    border: 1px solid #ffffff;
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    #header_page_committee {
        padding: 0 0;
    }

    /* Head List committee */
    .head_list_committee {
        padding: 40px 0 20px 0;
    }

    .head_list_committee p {
        max-width: 400px;
        margin: 1rem auto;
        word-wrap: break-word;
        font-size: 1.2em;
    }

    .head_list_committee h1 {
        font-size: 48px;
    }

    /* Main content page committee */
    .wrap_content_page_commiittee {
        padding: 0 1.5rem;
    }

    .download_structure_committee {
        padding: 0 1.5rem;
    }
}

@media screen and (min-width: 992px) {

    /* Head List committee */
    .head_list_committee {
        padding: 100px 0 40px 0;
    }

    .head_list_committee p {
        max-width: 500px;
        font-size: 24px;
    }

    .head_list_committee h1 {
        font-size: 64px;

    }

    /* Main content page committee */
    .wrap_content_page_commiittee {
        padding: 0 100px;
    }

    .download_structure_committee {
        padding: 0 100px;
    }

}

@media screen and (min-width: 2300px) {
    #header_page_committee {
        max-width: 2300px;
    }

    #main_content_committee {
        max-width: 2300px;
    }
}